<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.care.infrastructure.repository.mapper.care.UploadedFilesMapper">
  <resultMap id="BaseResultMap" type="com.care.infrastructure.repository.model.care.UploadedFiles">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="file_number" jdbcType="BIGINT" property="fileNumber" />
    <result column="original_name" jdbcType="VARCHAR" property="originalName" />
    <result column="create_at" jdbcType="TIMESTAMP" property="createAt" />
    <result column="update_at" jdbcType="TIMESTAMP" property="updateAt" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.care.infrastructure.repository.model.care.UploadedFiles">
    <result column="s3_url" jdbcType="LONGVARCHAR" property="s3Url" />
  </resultMap>
  <sql id="Base_Column_List">
    id, file_number, original_name, s3_url, create_at, update_at
  </sql>

</mapper>