<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.care.infrastructure.repository.mapper.care.UploadedFilesMapper">
  <resultMap id="BaseResultMap" type="com.care.infrastructure.repository.model.care.UploadedFiles">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="file_number" jdbcType="BIGINT" property="fileNumber" />
    <result column="original_name" jdbcType="VARCHAR" property="originalName" />
    <result column="create_at" jdbcType="TIMESTAMP" property="createAt" />
    <result column="update_at" jdbcType="TIMESTAMP" property="updateAt" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.care.infrastructure.repository.model.care.UploadedFiles">
    <result column="s3_url" jdbcType="LONGVARCHAR" property="s3Url" />
  </resultMap>
  <sql id="Base_Column_List">
    id, file_number, original_name, s3_url, create_at, update_at
  </sql>
  <insert id="insertBatch">
    INSERT ignore INTO uploaded_files (
        file_number, original_name, s3_url, create_at, update_at
    ) VALUES
    <foreach collection="uploadedFiles" item="item" separator=",">
      (
      #{item.fileNumber},
      #{item.originalName},
      #{item.s3Url},
      #{item.createAt},
      #{item.updateAt}
      )
    </foreach>
  </insert>
  <select id="selectByFileNumber" resultType="com.care.infrastructure.repository.model.care.UploadedFiles">
    SELECT
      file_number,
      original_name,
      s3_url
    FROM uploaded_files
    WHERE file_number = #{fileNumber}
  </select>
  <delete id="deleteByFileNumber">
    DELETE FROM uploaded_files
    WHERE file_number = #{fileNumber}
  </delete>

  <select id="selectAllFiles" resultType="com.care.infrastructure.repository.model.care.UploadedFiles">
    SELECT file_number, original_name
    FROM uploaded_files
    ORDER BY create_at DESC
  </select>
</mapper>