<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.care.infrastructure.repository.mapper.care.UsersBizMapper">
  <resultMap id="BaseResultMap" type="com.care.infrastructure.repository.model.care.Users">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_number" jdbcType="BIGINT" property="userNumber" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="user_email" jdbcType="VARCHAR" property="userEmail" />
    <result column="create_at" jdbcType="TIMESTAMP" property="createAt" />
    <result column="update_at" jdbcType="TIMESTAMP" property="updateAt" />
    <result column="delete_at" jdbcType="BIGINT" property="deleteAt" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_number, user_name, user_email, create_at, update_at, delete_at
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from users
    where id = #{id,jdbcType=INTEGER}
  </select>
  <resultMap id="BaseResultMap" type="com.care.infrastructure.repository.model.care.Users">
    <result column="USER" jdbcType="CHAR" property="user" />
    <result column="CURRENT_CONNECTIONS" jdbcType="BIGINT" property="currentConnections" />
    <result column="TOTAL_CONNECTIONS" jdbcType="BIGINT" property="totalConnections" />
    <result column="MAX_SESSION_CONTROLLED_MEMORY" jdbcType="BIGINT" property="maxSessionControlledMemory" />
    <result column="MAX_SESSION_TOTAL_MEMORY" jdbcType="BIGINT" property="maxSessionTotalMemory" />
  </resultMap>
</mapper>